<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.dao.ProductDao">


    <select id="selectByIds" resultType="com.demo.domain.ProductEntity">
        select * from product
        WHERE product_id IN
        <foreach collection="ids" index="index" item="item"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <select id="selectById" resultType="com.demo.domain.ProductEntity">
        select * from product
        WHERE product_id = #{id}
    </select>
    <select id="selectInitPro" resultType="java.lang.String">
        SELECT product_id FROM product ORDER BY product_id LIMIT #{size}
    </select>
</mapper>